################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/eAttendance/FileContentIndex
/.vs/
/eAttendance/bin
/eAttendance/bin*
/eAttendance/obj
/eAttendance/obj*
