USE [Attendance]
GO
/****** Object:  StoredProcedure [dbo].[VisitRequestList]    Script Date: 1/8/2019 5:51:50 AM ******/
DROP PROCEDURE [dbo].[VisitRequestList]
GO
/****** Object:  StoredProcedure [dbo].[SpTodayAttendanceCount]    Script Date: 1/8/2019 5:51:50 AM ******/
DROP PROCEDURE [dbo].[SpTodayAttendanceCount]
GO
/****** Object:  StoredProcedure [dbo].[SpSaveLogData]    Script Date: 1/8/2019 5:51:50 AM ******/
DROP PROCEDURE [dbo].[SpSaveLogData]
GO
/****** Object:  StoredProcedure [dbo].[SpGetOfficeDeviceList]    Script Date: 1/8/2019 5:51:50 AM ******/
DROP PROCEDURE [dbo].[SpGetOfficeDeviceList]
GO
/****** Object:  StoredProcedure [dbo].[SpGetEmployeeAttandaneByOfficeWithInDateRange]    Script Date: 1/8/2019 5:51:50 AM ******/
DROP PROCEDURE [dbo].[SpGetEmployeeAttandaneByOfficeWithInDateRange]
GO
/****** Object:  StoredProcedure [dbo].[SpEmployeeVisitSummary]    Script Date: 1/8/2019 5:51:50 AM ******/
DROP PROCEDURE [dbo].[SpEmployeeVisitSummary]
GO
/****** Object:  StoredProcedure [dbo].[SpAdministratorDashboard]    Script Date: 1/8/2019 5:51:50 AM ******/
DROP PROCEDURE [dbo].[SpAdministratorDashboard]
GO
/****** Object:  StoredProcedure [dbo].[LeaveRequestList]    Script Date: 1/8/2019 5:51:50 AM ******/
DROP PROCEDURE [dbo].[LeaveRequestList]
GO
/****** Object:  StoredProcedure [dbo].[GetLeaveTypeAssignByEmployee]    Script Date: 1/8/2019 5:51:50 AM ******/
DROP PROCEDURE [dbo].[GetLeaveTypeAssignByEmployee]
GO
/****** Object:  StoredProcedure [dbo].[GetAllOfficeUnderHead]    Script Date: 1/8/2019 5:51:50 AM ******/
DROP PROCEDURE [dbo].[GetAllOfficeUnderHead]
GO
/****** Object:  UserDefinedFunction [dbo].[funcGetRemarksAccordingToLogDateInOffice]    Script Date: 1/8/2019 5:51:50 AM ******/
DROP FUNCTION [dbo].[funcGetRemarksAccordingToLogDateInOffice]
GO
/****** Object:  UserDefinedFunction [dbo].[funcGetOutRemarks]    Script Date: 1/8/2019 5:51:50 AM ******/
DROP FUNCTION [dbo].[funcGetOutRemarks]
GO
/****** Object:  UserDefinedFunction [dbo].[funcGetInRemarks]    Script Date: 1/8/2019 5:51:50 AM ******/
DROP FUNCTION [dbo].[funcGetInRemarks]
GO
/****** Object:  UserDefinedFunction [dbo].[func_GetShiftId]    Script Date: 1/8/2019 5:51:50 AM ******/
DROP FUNCTION [dbo].[func_GetShiftId]
GO
/****** Object:  UserDefinedFunction [dbo].[CheckHoliday]    Script Date: 1/8/2019 5:51:50 AM ******/
DROP FUNCTION [dbo].[CheckHoliday]
GO
/****** Object:  UserDefinedFunction [dbo].[CheckEmployeeVisit]    Script Date: 1/8/2019 5:51:50 AM ******/
DROP FUNCTION [dbo].[CheckEmployeeVisit]
GO
/****** Object:  UserDefinedFunction [dbo].[CheckEmployeeLeave]    Script Date: 1/8/2019 5:51:50 AM ******/
DROP FUNCTION [dbo].[CheckEmployeeLeave]
GO
/****** Object:  UserDefinedFunction [dbo].[CheckEmployeeLeave]    Script Date: 1/8/2019 5:51:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Function [dbo].[CheckEmployeeLeave]
(
	@EmployeeId		int,
	@LogDate		date
)Returns nvarchar(255)
WITH ENCRYPTION
As
Begin 
	Declare @Result nvarchar(255);
	Set @Result=(Select top(1) Alias from LeaveApplications la
		inner join LeaveTypeSetUps lt on la.LeaveTypeid=lt.LeaveTypeId
		where la.EmployeeId = @EmployeeId And la.ApprovedStatus = 2 And la.Status=1
		and @LogDate >= la.FromDate And @LogDate <=la.ToDate);

	return @result;
End





GO
/****** Object:  UserDefinedFunction [dbo].[CheckEmployeeVisit]    Script Date: 1/8/2019 5:51:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Function [dbo].[CheckEmployeeVisit]
(
	@EmployeeId		int,
	@LogDate		date
) Returns nvarchar(255)
WITH ENCRYPTION
As
Begin 
	Declare @Result nvarchar(255);
	Set @Result=(Select top(1) Alias from VisitApplications va
		inner join VisitTypeSetUps vt on va.VisitTypeId=vt.VisitTypeId
		where va.EmployeeId = @EmployeeId And va.ApprovedStatus = 2 And va.Status=1
		and @LogDate >= va.FromDate And @LogDate <=va.ToDate);

	return @result;
End





GO
/****** Object:  UserDefinedFunction [dbo].[CheckHoliday]    Script Date: 1/8/2019 5:51:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Function [dbo].[CheckHoliday]
(
	@EmployeeId		int,
	@LogDate		date
)Returns nvarchar(255)
WITH ENCRYPTION
As
Begin 
	Declare @Result nvarchar(255);
	
	Set @Result=(Select top(1) Alias from [dbo].[HolidayCalenders] hc
		where @LogDate >= hc.FromDate And @LogDate <=hc.ToDate 
		Or hc.ApplicableFor= 1
		And hc.ApplicableFor=(Select Gender+1 from EmployeeInfoes where EmployeeId=@EmployeeId))

	return @result;
End





GO
/****** Object:  UserDefinedFunction [dbo].[func_GetShiftId]    Script Date: 1/8/2019 5:51:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Function [dbo].[func_GetShiftId](@EmployeeId int,@logDate date)
Returns Int
Begin   
   Declare @result int;
   Declare @ShiftId int;
   Declare @ShiftTimeId int;
   select @ShiftId=ShiftId from YearlyShifts where @logDate between StartDate And EndDate

   select @ShiftTimeId=ShiftTimeId from SetupShiftTimes
   where ShiftId=@ShiftId And [WeekDay]=Datepart(WeekDay,@logDate)
   set @result=@ShiftTimeId;
   return @result;
End





GO
/****** Object:  UserDefinedFunction [dbo].[funcGetInRemarks]    Script Date: 1/8/2019 5:51:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Function [dbo].[funcGetInRemarks](
@EmployeeId		int,
@LogDate		DateTime
) -- select [dbo].[funcGetInRemarks](20404,'2016-06-15 09:40:53.000')
Returns nvarchar(500)	
WITH ENCRYPTION											
As
Begin
	Declare @result nvarchar(500);
	-- Getting Yearly Shift
	Declare @ShiftId int;
	Select @ShiftId=ShiftId from YearlyShifts where @LogDate between StartDate And EndDate

	-- Getting Weekly Shift Information
	Declare @StartTime time,@EndTime time,@LateInAfter time,@EarlyOutBefore time;
	Select @StartTime=ShiftStartTime,@EndTime=ShiftEndTime,@LateInAfter=ShiftLateInAfter,@EarlyOutBefore=ShiftEarlyOutBefore 
	from SetupShiftTimes	
	where ShiftId=@ShiftId And [WeekDay]=DATEPART(WEEKDAY,@LogDate)
						 	
	Declare @InTime time;
	Set @InTime=cast(DATEPART(HH,@LogDate) as nvarchar(2))+':'+cast(DATEPART(minute,@LogDate) as nvarchar(2))
	
	if(@InTime >= @StartTime And @InTime <=@LateInAfter)	
		Set @result=N'समयमा';
	Else If(@InTime < @StartTime)
		Set @result=cast(datediff(Minute,@InTime,@StartTime) as nvarchar(20)) + N' मिनेट छिटो आएको';
	Else If(@InTime > @LateInAfter)
		Set @result=cast(datediff(Minute,@StartTime,@InTime) as nvarchar(20)) +N' मिनेट ढिलो आएको';

	return @result;
End




GO
/****** Object:  UserDefinedFunction [dbo].[funcGetOutRemarks]    Script Date: 1/8/2019 5:51:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Function [dbo].[funcGetOutRemarks](
@EmployeeId		int,
@LogDate		DateTime
) -- select [dbo].[funcGetOutRemarks](20404,'2016-06-15 09:40:53.000')
Returns nvarchar(500)	
WITH ENCRYPTION											
As
Begin
	Declare @result nvarchar(500);
	-- Getting Yearly Shift
	Declare @ShiftId int;
	Select @ShiftId=ShiftId from YearlyShifts where @LogDate between StartDate And EndDate

	-- Getting Weekly Shift Information
	Declare @StartTime time,@EndTime time,@LateInAfter time,@EarlyOutBefore time;
	Select @StartTime=ShiftStartTime,@EndTime=ShiftEndTime,@LateInAfter=ShiftLateInAfter,@EarlyOutBefore=ShiftEarlyOutBefore 
	from SetupShiftTimes	
	where ShiftId=@ShiftId And [WeekDay]=DATEPART(WEEKDAY,@LogDate)
						 	
	Declare @OutTime time;
	Set @OutTime=cast(DATEPART(HH,@LogDate) as nvarchar(2))+':'+cast(DATEPART(minute,@LogDate) as nvarchar(2))
	--Select @OutTime,@EndTime,@EarlyOutBefore
	
	if(@OutTime >= @EarlyOutBefore And @OutTime <=@EndTime)	
		Set @result=N'समयमा';
	Else If(@OutTime < @EarlyOutBefore)
		Set @result=cast(datediff(Minute,@OutTime,@EarlyOutBefore) as nvarchar(20)) + N' मिनेट छिटो गएको';
	Else If(@OutTime > @EndTime)
		Set @result=cast(datediff(Minute,@EndTime,@OutTime) as nvarchar(20)) +N' मिनेट ढिलो गएको';

	return @result;
End


GO
/****** Object:  UserDefinedFunction [dbo].[funcGetRemarksAccordingToLogDateInOffice]    Script Date: 1/8/2019 5:51:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Function [dbo].[funcGetRemarksAccordingToLogDateInOffice](
@EmployeeId		int,
@OfficeId	int,
@LogDate		DateTime
) -- select [dbo].[funcGetRemarksAccordingToLogDateInOffice](2011197,3,'2012-04-12')
Returns nvarchar(500)												
As
Begin
	Declare @result nvarchar(500);
	
	if ((Select count(*) from EmployeeInfoes as e
		inner join EmployeeOfficeDetails as o on e.EmployeeId=o.EmployeeId
		where e.Status!=2 And o.Status!=2 And o.OfficeId=@OfficeId And e.EmployeeId=@EmployeeId
		And o.OfficeInfoId=(Select top(1)eo.OfficeInfoId from EmployeeInfoes as ei 
								inner join EmployeeOfficeDetails as eo on ei.EmployeeId=eo.EmployeeId
								where CONVERT(date,@LogDate)>=CONVERT(date,eo.EffectiveDate) and ei.EmployeeId=e.EmployeeId
								order by eo.EffectiveDate desc))=0)
								begin
								Set @result=N'सरुवा भएको या कार्यालय संग सम्बन्धित नरहेको'
								end
	return @result;
End


GO
/****** Object:  StoredProcedure [dbo].[GetAllOfficeUnderHead]    Script Date: 1/8/2019 5:51:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAllOfficeUnderHead]
	 @OfficeId int
	 WITH ENCRYPTION
AS

BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;



CREATE TABLE #result
    (
      OfficeId INT ,
      OfficeHead INT ,
      OfficeName NVARCHAR(50) ,
      
    );

       

CREATE TABLE #tempParentID ( OfficeHead INT );

CREATE TABLE #tempParentID1 ( OfficeHead INT );

INSERT  INTO #tempParentID
        SELECT  @OfficeId;


DECLARE @run INT = 1;
WHILE ( @run = 1 )
    BEGIN
        IF ( EXISTS ( SELECT    1
                      FROM      dbo.OfficeSetUps
                      WHERE     OfficeHead IN ( SELECT    OfficeHead
                                              FROM      #tempParentID ) ) )
            BEGIN
                INSERT  INTO #result
                        SELECT  OfficeId ,
                                OfficeHead ,
                                OfficeName 
                               
                        FROM    OfficeSetUps
                        WHERE OfficeHead IN ( SELECT    OfficeHead
                                              FROM      #tempParentID ); 


                INSERT  INTO #tempParentID1
                        SELECT  *
                        FROM    #tempParentID;
                TRUNCATE TABLE #tempParentID;

                INSERT  INTO #tempParentID
                        SELECT DISTINCT
                                OfficeId
                        FROM    dbo.OfficeSetUps
                        WHERE  OfficeHead IN ( SELECT    OfficeHead
                                              FROM      #tempParentID1 );

                TRUNCATE TABLE #tempParentID1;
                SET @run = 1;
            END;
        ELSE
            BEGIN
                SET @run = 0;
            END;
    END; 


--SELECT  *
--FROM    #tempParentID;
SELECT  *
FROM    #result;




DROP TABLE #result;
DROP TABLE #tempParentID;
DROP TABLE #tempParentID1;
END



GO
/****** Object:  StoredProcedure [dbo].[GetLeaveTypeAssignByEmployee]    Script Date: 1/8/2019 5:51:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[GetLeaveTypeAssignByEmployee]
(
	@FiscalYearId	nvarchar(100),
	@EmployeeId		int
	

)
WITH ENCRYPTION
As
Begin 
	SELECT        dbo.LeaveTypeSetUps.LeaveTypeId, dbo.LeaveTypeSetUps.LeaveTypeName
FROM            dbo.LeaveTypeSetUps INNER JOIN
                         dbo.AssignEmployeeLeaves ON dbo.LeaveTypeSetUps.LeaveTypeId = dbo.AssignEmployeeLeaves.LeaveTypeId INNER JOIN
                         dbo.FiscalYearSetUps ON dbo.AssignEmployeeLeaves.FiscalYearId = dbo.FiscalYearSetUps.FiscalYearId
						 where  dbo.LeaveTypeSetUps.Status=1 and  dbo.AssignEmployeeLeaves.Status=1 and
						 dbo.AssignEmployeeLeaves.FiscalYearId = @FiscalYearId and        dbo.AssignEmployeeLeaves.EmployeeId=@EmployeeId

End


 --exec LeaveRequestList 1,7



GO
/****** Object:  StoredProcedure [dbo].[LeaveRequestList]    Script Date: 1/8/2019 5:51:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[LeaveRequestList]
(
	@OfficeId	nvarchar(100),
	@EmployeeId		int

)
  WITH ENCRYPTION As
Begin 
	SELECT      dbo.LeaveApplications.LeaveApplicationId,
	   dbo.LeaveApplications.ApplicationDate, 
	   dbo.LeaveApplications.EmployeeId,
	    dbo.LeaveApplications.Subject,
		 dbo.LeaveApplications.FromDate, 
		 dbo.LeaveApplications.ToDate,
		  dbo.LeaveApplications.ApprovedBy, 
                         dbo.LeaveApplications.ApprovedStatus,
						  dbo.LeaveApplications.Recomender, 
						  dbo.LeaveApplications.RecomenderStatus,
						   dbo.LeaveApplications.RecomendedDate,
						    dbo.LeaveApplications.Message
FROM            dbo.LeaveApplications INNER JOIN
                         dbo.EmployeeInfoes ON dbo.LeaveApplications.EmployeeId = dbo.EmployeeInfoes.EmployeeId 
						 inner join [dbo].[EmployeeOfficeDetails] on dbo.EmployeeInfoes.EmployeeId=[dbo].[EmployeeOfficeDetails].EmployeeId
						  where [dbo].[EmployeeOfficeDetails].OfficeId=@OfficeId and dbo.EmployeeInfoes.EmployeeId=@EmployeeId
						  and  dbo.LeaveApplications.ApprovedStatus!=2

End


 --exec LeaveRequestList 1,7



GO
/****** Object:  StoredProcedure [dbo].[SpAdministratorDashboard]    Script Date: 1/8/2019 5:51:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SpAdministratorDashboard] 
/* 
	exec [dbo].[SpDailyAttendanceForAdministratorDashboard] '2016-06-13'
	exec SpDailyAttendanceForAdministratorDashboard '6/5/2018'

*/
(
	@LogDate Date
)
WITH ENCRYPTION
As 
Begin  
	Declare @tmpAttendance table(EmployeeId int,EnrollNumber int,OfficeId int, VerifyMode int,InOutMode int,LogDate date,LogTime time)
	insert into @tmpAttendance select ei.EmployeeId,ei.EmployeeNo,eo.OfficeId,wdd.VerifyMode,wdd.InOutMode,cast(wdd.[DateTime] as date),cast(wdd.[DateTime] as time) 
								from AttendanceLogs wdd
								inner join EmployeeInfoes ei on wdd.EmployeeId=ei.EmployeeId
								inner join EmployeeOfficeDetails eo on ei.EmployeeId=eo.EmployeeId
								where ei.Status=1 and eo.Status=1 and wdd.Status=1 and convert(date,wdd.[DateTime])=@LogDate;
	
	--select * from @tmpAttendance
	
	insert into @tmpAttendance select ei.EmployeeId,ei.EmployeeNo,eo.OfficeId,fe.CheckType,fe.CheckType,ForgotDate,ForgotTime 
							   from ForgotEntries fe
							   inner join EmployeeInfoes ei on fe.EmployeeId=ei.EmployeeId
							   inner join EmployeeOfficeDetails eo on ei.EmployeeId=eo.EmployeeId
							   where ei.Status=1 and eo.Status=1  and fe.Status=4 and convert(date,fe.ForgotDate)=@LogDate;
	--select * from @tmpAttendance
	declare @result table(OfficeId int,OfficeName nvarchar(256),Code nvarchar(50),[Address] nvarchar(max),Total int,TotalActive int,TotalDeactive int,
				Present int,OnLeave int,OnVisit int);
		;with mycte As
		(
			Select * from OfficeSetUps where Status=1
		)
			insert into @result(OfficeId,OfficeName,Code,Address,Total,TotalActive,TotalDeactive,Present,OnLeave,OnVisit)
				Select m.OfficeId,
				case when m.OfficeName is null then '' else m.OfficeName end,
				case when m.Code is null then '' else m.Code end ,
				case when m.Address is null then '' else m.Address end,


				(select COUNT(*) from EmployeeInfoes as e inner join EmployeeOfficeDetails as o on e.EmployeeId=o.EmployeeId 
						 where o.OfficeInfoId=(Select top(1)eo.OfficeInfoId from EmployeeInfoes as ei 
								inner join EmployeeOfficeDetails as eo on ei.EmployeeId=eo.EmployeeId
									where CONVERT(date,@LogDate)>=CONVERT(date,eo.EffectiveDate) and ei.EmployeeId=e.EmployeeId
									order by eo.EffectiveDate desc) and o.OfficeId=m.OfficeId) as Total, 
		 
				 (Select count(*) from EmployeeInfoes as e inner join EmployeeOfficeDetails as o on e.EmployeeId=o.EmployeeId
						where o.OfficeId=m.OfficeId
								and o.OfficeInfoId=(Select top(1)eo.OfficeInfoId from EmployeeInfoes as ei 
														inner join EmployeeOfficeDetails as eo on ei.EmployeeId=eo.EmployeeId
															where CONVERT(date,@LogDate)>=CONVERT(date,eo.EffectiveDate) and ei.EmployeeId=e.EmployeeId
															order by eo.EffectiveDate desc)
								 and o.Status!=2) as TotalActive,

				 (Select count(*) from EmployeeInfoes as e inner join EmployeeOfficeDetails as o on e.EmployeeId=o.EmployeeId
				 where o.OfficeId=m.OfficeId
				 and o.OfficeInfoId=(Select top(1)eo.OfficeInfoId from EmployeeInfoes as ei 
														inner join EmployeeOfficeDetails as eo on ei.EmployeeId=eo.EmployeeId
															where CONVERT(date,@LogDate)>=CONVERT(date,eo.EffectiveDate) and ei.EmployeeId=e.EmployeeId
															order by eo.EffectiveDate desc)
				 and o.Status=2) as TotalDeactive,

				 (Select count(distinct wdd.EnrollNumber) from @tmpAttendance wdd
					inner join EmployeeInfoes as e on e.EmployeeId=wdd.EmployeeId
					inner join EmployeeOfficeDetails as o on o.EmployeeId=e.EmployeeId
				  where o.OfficeInfoId=(Select top(1)eo.OfficeInfoId from EmployeeInfoes as ei 
														inner join EmployeeOfficeDetails as eo on ei.EmployeeId=eo.EmployeeId
															where CONVERT(date,@LogDate)>=CONVERT(date,eo.EffectiveDate) and ei.EmployeeId=e.EmployeeId
															order by eo.EffectiveDate desc)
				  and o.Status!=2 and o.OfficeId=m.OfficeId)as Present,

			

				  (Select count(*) from LeaveApplications la 
						inner join EmployeeOfficeDetails o on o.EmployeeId=la.EmployeeId 
						inner join EmployeeInfoes e on e.EmployeeId=o.EmployeeId 
							where o.OfficeInfoId=(Select top(1)eo.OfficeInfoId from EmployeeInfoes as ei 
														inner join EmployeeOfficeDetails as eo on ei.EmployeeId=eo.EmployeeId
															where CONVERT(date,@LogDate)>=CONVERT(date,eo.EffectiveDate) and ei.EmployeeId=e.EmployeeId
															order by eo.EffectiveDate desc)
							And o.OfficeId=m.OfficeId
							And o.Status!=2
							And la.Status=1 
							And la.ApprovedStatus=2 
							And convert(date,FromDate) <= @LogDate 
							And convert(date,ToDate) >= @LogDate) as OnLeave,

					(Select count(*) from VisitApplications  va 
						inner join EmployeeOfficeDetails o on o.EmployeeId=va.EmployeeId
						inner join EmployeeInfoes e on e.EmployeeId=o.EmployeeId  
						where o.OfficeInfoId=(Select top(1)eo.OfficeInfoId from EmployeeInfoes as ei 
														inner join EmployeeOfficeDetails as eo on ei.EmployeeId=eo.EmployeeId
															where CONVERT(date,@LogDate)>=CONVERT(date,eo.EffectiveDate) and ei.EmployeeId=e.EmployeeId
															order by eo.EffectiveDate desc)
						And o.OfficeId=m.OfficeId
						And o.Status!=2
						And va.Status=1 
						And va.ApprovedStatus=2 
						And convert(date,FromDate)<=@LogDate 
						And convert(date,ToDate) >= @LogDate) as OnVisit
			
				from mycte as m
		OPTION (MAXRECURSION 0)

	select OfficeId,OfficeName,Code,[Address],Total as TotalEmployee,IsNull(TotalActive,0) as ActiveEmployee,IsNull(TotalDeactive,0) as InactiveEmployee,IsNull(Present,0) as Present,ISNULL(OnLeave,0) as OnLeave,ISNULL(OnVisit,0) as OnVisit,
	case
		when
			(TotalActive - (IsNull(Present,0)+ISNULL(OnLeave,0)+ISNULL(OnVisit,0)))>0 then (TotalActive - (IsNull(Present,0)+ISNULL(OnLeave,0)+ISNULL(OnVisit,0)))
		else
			0 
	end		as [Absent]
	from @result
End


--select * from OfficeSetUps 





GO
/****** Object:  StoredProcedure [dbo].[SpEmployeeVisitSummary]    Script Date: 1/8/2019 5:51:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[SpEmployeeVisitSummary]
(
	@EmployeeId		int,
	@FromDate		date,
	@ToDate			date
) 
WITH ENCRYPTION
As
Begin -- SpEmployeeVisitSummary 197507, '2015-04-14' ,'2016-04-13'
	Select va.VisitTypeId, vt.VisitTypeName,sum(DATEDIFF(DAY, va.FromDate,va.ToDate)+1) Total
	from VisitApplications va
	inner join VisitTypeSetUps vt on va.VisitTypeId=vt.VisitTypeId
	where va.EmployeeId= @EmployeeId And va.ApprovedStatus=2
	And va.FromDate >= @FromDate And va.ToDate <=@ToDate
	group by va.VisitTypeId,va.EmployeeId,vt.VisitTypeName

End






GO
/****** Object:  StoredProcedure [dbo].[SpGetEmployeeAttandaneByOfficeWithInDateRange]    Script Date: 1/8/2019 5:51:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SpGetEmployeeAttandaneByOfficeWithInDateRange]
	@EmployeeId		int,
	@OfficeId		int,
	@FromDate		date,
	@ToDate			date
	WITH ENCRYPTION
AS
BEGIN
	Declare @tmpAttendance table(EmployeeId int,ShiftTimeId int,EnrollNumber int,VerifyMode int,InOutMode int,LogDate date,LogTime time,LogDateTime datetime)
	
	insert into @tmpAttendance select ei.EmployeeId,
								dbo.func_GetShiftId(ei.EmployeeId,wdd.[DateTime])
								,ei.EmployeeNo,wdd.VerifyMode,wdd.InOutMode,cast(wdd.[DateTime] as date),cast(wdd.[DateTime] as time),wdd.[DateTime]
								from AttendanceLogs wdd
								inner join EmployeeInfoes ei on wdd.EmployeeId=ei.EmployeeId
								where ei.EmployeeId=@EmployeeId and wdd.Status=1;
	
Declare @tblDate table(EmployeeId int,ShiftTimeId int,LogDate date,CheckIn time,CheckOut time,CheckInDateTime datetime,CheckOutDateTime datetime,TWH decimal,StatusType int);	

	;WITH mycte AS
	(
	  SELECT CAST(@FromDate AS DATETIME) DateValue UNION ALL
	  SELECT DateValue + 1 FROM mycte   
	  WHERE  DateValue + 1 <= @ToDate
	)

    insert into @tblDate(EmployeeId,ShiftTimeId,LogDate,CheckIn,CheckOut,CheckInDateTime,CheckOutDateTime,TWH,StatusType)
	SELECT @EmployeeId,[dbo].func_GetShiftId(wdd.EmployeeId,DateValue),DateValue,min(wdd.[LogTime]),
	Case
		when min(wdd.[LogTime])=max(wdd.[LogTime]) or DateDiff(minute,min(wdd.[LogTime]),max(wdd.[LogTime]))<=5 then null
		else max(wdd.[LogTime])
	end ,
	min(wdd.LogDateTime),
	Case
		when min(wdd.[LogTime])=max(wdd.[LogTime]) or DateDiff(minute,min(wdd.[LogTime]),max(wdd.[LogTime]))<=5 then null
		else max(wdd.LogDateTime)
	end ,
	DateDiff(MINUTE,min(wdd.[LogTime]),max(wdd.[LogTime])),
	(case when min(wdd.[LogDate]) is null  then 0 else 1 end)
	FROM mycte
	left join @tmpAttendance wdd on mycte.DateValue=cast(wdd.LogDate as date)	
	group by wdd.EmployeeId,wdd.ShiftTimeId,mycte.DateValue
	OPTION (MAXRECURSION 0)


	--Select * from @tblDate order by LogDate asc

	select td.EmployeeId,ShiftTimeId,LogDate,	
	CheckIn,CheckOut,TWH,
	case when td.CheckInDateTime is null
		then '' else [dbo].[funcGetInRemarks](td.EmployeeId,td.CheckInDateTime)end
	as CheckInRemarks,
	case when td.CheckOutDateTime is null
	then '' else [dbo].[funcGetOutRemarks](td.EmployeeId,td.CheckOutDateTime) end
	as CheckOutRemarks,
	Case when [dbo].[funcGetRemarksAccordingToLogDateInOffice](td.EmployeeId,@OfficeId,LogDate) is not null
		then 4 else td.StatusType end as StatusType,
	swd.WorkType,
	[dbo].[CheckEmployeeLeave](@EmployeeId,td.LogDate) as OnLeave,
	[dbo].[CheckEmployeeVisit](@EmployeeId,td.LogDate) as OnVisit,
	[dbo].[CheckHoliday](@EmployeeId,td.LogDate) as Holiday
	from @tblDate td
	inner join WeekDaySetUps swd on swd.[WeekDay] = DatePart(dw,td.LogDate)
	order by td.LogDate asc
	 
	-- exec [dbo].[SpGetEmployeeAttendanceListByOfficeWithSelectedShifTime] 2011197,3,'2016-07-01','2016-07-20'
END



GO
/****** Object:  StoredProcedure [dbo].[SpGetOfficeDeviceList]    Script Date: 1/8/2019 5:51:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[SpGetOfficeDeviceList]
(
	@DeviceType		int,
	@OfficeId int
)
WITH ENCRYPTION
As
Begin
	Select o.OfficeId,o.OfficeName,IsNull(od.LicenseNo,1261) as LicenseNo, od.OfficeDeviceId,od.DeviceNo,od.DeviceIp,od.Port,od.lastImportDate
	 from OfficeSetUps o 
	inner join OfficeDeviceSetUps od on od.OfficeId=o.OfficeId
	where o.Status!=2 And od.Status!=2 And DeviceType=@DeviceType
	and(@OfficeId=0 or o.OfficeId=@OfficeId)
End






GO
/****** Object:  StoredProcedure [dbo].[SpSaveLogData]    Script Date: 1/8/2019 5:51:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[SpSaveLogData]
(
   @OfficeId		int,
   @OfficeDeviceId	int,
   @IpAddress		nvarchar(50),
   @EnrollNumber	int,
   @VerifyMode		int,
   @InOutMode		int,
   @DateTime		datetime
)WITH ENCRYPTION
As
Begin
	declare @count int;
	Declare @EmployeeId int;
	set @EmployeeId=(select top 1 EmployeeInfoes.EmployeeId from EmployeeInfoes inner join EmployeeOfficeDetails on  EmployeeInfoes.EmployeeId=EmployeeOfficeDetails.EmployeeId where EmployeeInfoes.EmployeeNo=@EnrollNumber and EmployeeOfficeDetails.OfficeId=@OfficeId)
	set @count=(Select count(*) from AttendanceLogs 
				where OfficeId=@OfficeId And OfficeDeviceId=@OfficeDeviceId 
					And IpAddress=@IpAddress And EnrollNumber=@EnrollNumber
					And VerifyMode=@VerifyMode And InOutMode=@InOutMode And [DateTime]=@DateTime)
	if(@count=0)
	Begin
	   Insert into AttendanceLogs(OfficeId,OfficeDeviceId,IpAddress,EnrollNumber,VerifyMode,InOutMode,[DateTime],Status,EmployeeId)
	   Values(@OfficeId,@OfficeDeviceId,@IpAddress,@EnrollNumber,@VerifyMode,@InOutMode,@DateTime,1,@EmployeeId)
	End
End






GO
/****** Object:  StoredProcedure [dbo].[SpTodayAttendanceCount]    Script Date: 1/8/2019 5:51:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SpTodayAttendanceCount]
(

	@LogDate		date,	
	@OfficeId		int

) WITH ENCRYPTION As
--SpTodayAttendanceCount 3,'2016-07-05'
Begin
	declare @tbl table(Total int,TotalActive int,TotalDeactive int,Present int,OnLeave int,OnVisit int)
	insert into @tbl
		select 
		--(select count(*) from EmployeeInfoes ei inner join EmployeeOfficeDetails eoi on eoi.EmployeeId = ei.EmployeeId where eoi.OfficeId=@OfficeId)
		(select COUNT(*) from EmployeeInfoes as e 
						  inner join EmployeeOfficeDetails as o on e.EmployeeId=o.EmployeeId 
						  where o.OfficeInfoId=(Select top(1)eo.OfficeInfoId from EmployeeInfoes as ei 
								inner join EmployeeOfficeDetails as eo on ei.EmployeeId=eo.EmployeeId
								where CONVERT(date,@LogDate)>=CONVERT(date,eo.EffectiveDate) and ei.EmployeeId=e.EmployeeId
								order by eo.EffectiveDate desc) and o.OfficeId=@OfficeId) as 'Total'
		,(select count(*) from EmployeeInfoes ei inner join EmployeeOfficeDetails eoi on eoi.EmployeeId = ei.EmployeeId where eoi.OfficeId=@OfficeId And ei.Status=1 And eoi.Status=1)
		,(select count(*) from EmployeeInfoes ei inner join EmployeeOfficeDetails eoi on eoi.EmployeeId = ei.EmployeeId where eoi.OfficeId=@OfficeId And ei.Status=2 And eoi.Status=2)
		,(Select count(distinct EmployeeId) from AttendanceLogs wdd where OfficeId=@OfficeId And wdd.Status=1 And cast([DateTime] as date)=@LogDate group by  cast([DateTime] as date))
		,(Select count(*) from LeaveApplications la inner join EmployeeOfficeDetails eoi on eoi.EmployeeId=la.EmployeeId where eoi.OfficeId=@OfficeId And (@LogDate between la.FromDate And la.ToDate) And la.ApprovedStatus=2 And la.Status=1)
		,(Select count(*) from VisitApplications va inner join EmployeeOfficeDetails eoi on eoi.EmployeeId=va.EmployeeId where eoi.OfficeId=@OfficeId And (@LogDate between va.FromDate And va.ToDate) And va.ApprovedStatus=2 And va.Status=1)

	select * from @tbl

End


--exec SpTodayAttendanceCount '6/4/2018',1




GO
/****** Object:  StoredProcedure [dbo].[VisitRequestList]    Script Date: 1/8/2019 5:51:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[VisitRequestList]
(
	@EmployeeId	nvarchar(100),
	@Officeid		int

)WITH ENCRYPTION As
Begin -- SpEmployeeVisitSummary 197507, '2015-04-14' ,'2016-04-13'
SELECT      dbo.VisitApplications.VisitApplicationId,
	   dbo.VisitApplications.ApplicationDate, 
	   dbo.VisitApplications.EmployeeId,
	    dbo.VisitApplications.Subject,
		 dbo.VisitApplications.FromDate, 
		 dbo.VisitApplications.ToDate,
		  dbo.VisitApplications.ApprovedBy, 
                         dbo.VisitApplications.ApprovedStatus,
						  dbo.VisitApplications.Recomender, 
						  dbo.VisitApplications.RecomenderStatus,
						   dbo.VisitApplications.RecomendedDate,
						    dbo.VisitApplications.Message
FROM            dbo.VisitApplications INNER JOIN
                         dbo.EmployeeInfoes ON dbo.VisitApplications.EmployeeId = dbo.EmployeeInfoes.EmployeeId 
						 inner join [dbo].[EmployeeOfficeDetails] on dbo.EmployeeInfoes.EmployeeId=[dbo].[EmployeeOfficeDetails].EmployeeId
						  where [dbo].[EmployeeOfficeDetails].OfficeId=@OfficeId and dbo.EmployeeInfoes.EmployeeId=@EmployeeId
						  and  dbo.VisitApplications.ApprovedStatus!=2

End






GO
