@model eAttendance.Models.HolidayCalender
@{
    Layout = "~/Views/Shared/_Blank.cshtml";
}
<style>
    .ui-autocomplete-loading {
        background: white url("../../images/ui-anim_basic_16x16.gif") right center no-repeat;
    }
</style>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title"><i class="fa fa-plus-circle"></i> थप सार्वजनिक बिदा </h4>
            <small class="font-bold"></small>
        </div>
        @using (Html.BeginForm("Add", "HolidayCalendar", FormMethod.Post, new { @id = "HolidayFormAdd", @class = "form-horizontal" }))
        {
            @Html.Partial("_Common");
        }
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('.nepali-calendar').nepaliDatePicker();
            $(".chosen-select").chosen({ width: '100%' });
            //$.validator.setDefaults({ ignore: ":hidden:not(select)" });
            $("#HolidayFormAdd").validate({
                rules: {
                    FromDate: {
                        required: true,
                    },
                    ToDate: {
                        required: true,
                    }
                },
                messages: {
                    OfficeId: {
                        min: 'कृपया विकल्प चयन गर्नुहोस्'
                    }
                }
            });
        });
    </script>
}






