@model eAttendance.Models.ServiceSetUp
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="modal-content">
    <div class="modal-header">
        <ol class="breadcrumb">
            <li class="animated fadeInUp">सेटअप</li>
            <li class="animated fadeInLeft"><a href="@Url.Action("Index","SetupService")">सेवा सेटअप</a></li>
            <li class="animated fadeInRight">नयाँ सेवा बनाउनुहोस्</li>

        </ol>
    </div>
</div>
@using (Html.BeginForm("Add", "SetupService", FormMethod.Post, new { @id = "frmAddService", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.Partial("_Common");

}
