
@{
    ViewBag.Title = "Unauthorized";
}
<div class="wrapper wrapper-content">
    <div class="middle-box text-center animated fadeInRightBig no-padding ">        
        <div class=" ibox-content">
            <i class="fa fa-exclamation-triangle fa-3x  text-danger"></i>
            <h3 class="font-bold">अनाधिकृत अनुरोध....</h3>
            <hr />
            <div class="error-desc">
                तपाईँलाई यो काम गर्नको लागि प्रयाप्त अधिकार दिइएको छैन ! <br />
                कृपया यो कामको लागि एडिमिनिस्टेटरसँग सम्पर्क राख्नुहोस्......
            </div>
            <br />
            <br />
        </div>
    </div>
</div>

