@{
    ViewBag.Title = "Change password confirmation";
    Layout = "~/Views/Shared/_AccountLayout.cshtml"; 
}

<hgroup class="title">
    <h4>@ViewBag.Title.</h4>
</hgroup>
<section id="loginForm" class="ibox-content text-center no-margins">
    <div>
        <p>
            Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new {@class="btn btn-primary", id = "loginLink" })
        </p>
    </div>
    </section>
