@model eAttendance.Models.FiscalYearSetUp
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="modal-content">
    <div class="modal-header">
        <ol class="breadcrumb">
            <li class="animated fadeInUp">सेटअप</li>
            <li class="animated fadeInLeft"><a href="@Url.Action("Index","SetupFiscalYear")">आर्थिक वर्ष सेटअप</a></li>
            <li class="animated fadeInRight">नयाँ आर्थिक वर्ष बनाउनुहोस्</li>

        </ol>
    </div>
</div>
@using (Html.BeginForm("Add", "SetupFiscalYear", FormMethod.Post, new { @id = "frmAddFiscalYear", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.Partial("_Common");

}

@section scripts
{

    <script>
        $(document).ready(function () {
            $('.nepali-calendar').nepaliDatePicker();



        });
        $('.inputmask').inputmask({
            mask: '9999-99-99'
        })
    </script>
}

