<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

  <appSettings>
    <add key="IpAdress" value="192.168.1.209"/>
<!--/for all
    <add key="OfficeId" value="0" />-->

  </appSettings>




  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="LogPushSoap"/>
        <binding name="LogPushSoap1"/>
      </basicHttpBinding>
    </bindings>
    <client>
	
		<endpoint address="http://46.250.233.117:777/LogPush.asmx" binding="basicHttpBinding" bindingConfiguration="LogPushSoap1" contract="LogPushService.LogPushSoap" name="LogPushSoap"/>
    </client>
  </system.serviceModel>
</configuration>
