<?xml version="1.0"?>
<smtp deliveryMethod="Network" from="pashupati.sharma25@gmail.com">
  <network host="smtp.gmail.com"
           userName="pashupati.sharma25@gmail.com"
           password="kathford123"
           defaultCredentials="true"
           port="587"
           targetName=""
  />
</smtp>

